[all]
{% for node in hostvars[nodes] %}
    {{ node["name"] }}  ansible_host={{ node["ip"] }}  ip={{ node["ip"] }}
{% endfor %}

[all:vars]
ansible_connection=ssh
ansible_user=vagrant
ansible_ssh_pass=vagrant

[kube_control_plane]
{% for node in hostvars[nodes] %}
    {% if "kube_control_plane" in node["groups"] %}
        {{ node["name"] }}
    {% endif %}
{% endfor %}

[etcd]
{% for node in hostvars[nodes] %}
    {% if "etcd" in node["groups"] %}
        {{ node["name"] }}
    {% endif %}
{% endfor %}

[kube_node]
{% for node in hostvars[nodes] %}
    {% if "kube_node" in node["groups"] %}
        {{ node["name"] }}
    {% endif %}
{% endfor %}

[calico_rr]

[k8s_cluster:children]
kube_control_plane
kube_node
calico_rr
